@font-face {
  font-family: 'German';
  src: url(../../../public/fonts/Germania.ttf);
}

@font-face {
  font-family: Norwester;
  src: url("../../../public/fonts/Norwester.otf") format("opentype");
}
