.bg-gray {
    background-color: $gray;
}
.bg-gray-dark {
    background-color: $gray-dark;
}
.bg-gray-light {
    background-color: $gray-light;
}
.text-gray {
    color: $gray;
}
.text-gray-dark {
    color: $gray-dark;
}
.text-gray-light {
    color: $gray-light;
}
.text-gray-lighter {
    color: $gray-lighter;
}

.center-content {
    justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

.text-green {
    color: $green-new;
}